html *{ font-size: 1rem;}
body {
  font-family: 'Arial', 'Noto Sans TC', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 2em;
  overflow-x: hidden;
  background-color: rgb(212, 190, 156);
}
.site-wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.top {
  border-bottom: 5px solid #000;
  margin: 10px 0;
  font-size: 1.5rem;
}
.banner {
  margin: 5px 0;
  padding: 5px 0;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}
.banner .title{
  font-size: 30px;
  padding: 15px 0;
}
.banner .subtitle {
  font-size: 20px;
  padding: 15px 0;
  border-top: 2px solid #000;
}
.banner .main-visual {
  background: url(../imgs/joanna-kosinska-kKfVAvdBsAw-unsplash.jpg) no-repeat;
  background-size: contain;
  height: 500px;
}
.banner .list-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.banner table {
  border: 1px solid #000;
  width: 100%;
}
.banner table .sub-title {
  background-color: rgb(197, 147, 107);
  color: #231815;
}
.banner table .sub-title td{
  font-weight: 200;
}
.banner table td {
  padding: 2px 5px;
}
.content {
  border-top: 5px solid #000;
  margin-top: 10px;
  padding: 15px 0;
}
@media (max-width: 1200px) {
  .site-wrap {
    margin: 0 10px;
  }
}
@media (max-width: 768px) {

}